
body {
  background-color: #f5f5f5;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: #424242;
}

.row {
  align-self: center;
  width: 85%;
}

.header-text {
  text-align: center;
}



/* PLAYER INFO */


.players-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.player-info-line {
  text-align: center;
}

.player-info {
  background-color: #fff;
  margin: 20px;
}

.player-score {
  background-color: rgb(76, 175, 80);
  color: #fff;
  border-radius: 10px;
}

.player-chart  {
  width: 90%;
}






.chart {
  width: 80%;
}
