
body {
  background-color: #f5f5f5;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: #424242;
}

.section {
  padding: 20px;
}

.row {
  align-self: center;
  width: 85%;
}

.header-text {
  text-align: center;
}


/* SECTIONS */
.section-trophies {
  background-color: #fff;
}


/* TROPHIES */
.trophy-card {
  background-color: #4CAF50;
  color: #fff;
}

.trophy-stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.trophy-picture {
  background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/3115913.png&w=200&h=145");
  width: 200px;
  height: 145px;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.trophy-chart {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 25vw;
  height: 100%;
}


/* PLAYER INFO */

.matchup-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.matchup-side {
  width: 35%;
}

.vs {
  font-size: 50px;
  font-weight: 600;
  width: 5%;
}


.players-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.player-info-line {
  text-align: center;
}

.player-info {
  background-color: #fff;
  margin: 20px;
}

.player-score {
  background-color: rgb(76, 175, 80);
  color: #fff;
  border-radius: 10px;
}

.player-chart  {
  width: 90%;
}






.chart {
  width: 80%;
}
